# Secrets
.env
*.json
google_calendar.json

# Python cache
__pycache__/
*.pyc

# Database
*.db
database.db

# Executables
*.exe

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Virtual env
venv/

# Cloudflare
cloudflared.exe
