{% extends "dashboard.html" %}
{% block content %}
<div class="container">
    <h1>All Bookings</h1>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.phone }}</td>
                    <td>{{ booking.booking_date }}</td>
                    <td>{{ booking.booking_time }}</td>
                    <td>{{ booking.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}